.slick-prev:before,
.slick-next:before {
  color: black;
}

.slider {
  margin: 60px
}

.slide {
  border-radius: 5px;
  background-image: linear-gradient(to bottom right, white, #ddd);
  padding: 30px;
  height: 360px;
}

.icons {
  display: inline-block;
  margin: 20px;
}

.icon {
  float: left;
}

.dark-mode
.slick-prev:before,
.slick-next:before {
  color: white;
}

.dark-mode .slide {
  background-image: linear-gradient(to bottom right, #333, #111);
}
