.App {
  text-align: center;
}

.nav-icon {
  margin: 0 5px
}

#home {
  padding-top: 200px;
}

#about {
  padding-top: 150px;
}

#about p {
  margin: 30px
}

#skills {
  padding-top: 120px;
}

#contact {
  padding-top: 120px;
  padding-bottom: 160px;
}
