.App {
  text-align: center;
}

#home {
  padding-top: 128px;
  padding-bottom: 128px;
}

#about {
  padding-bottom: 60px;
}

#skills {
  padding-bottom: 60px;
}

#education {
  padding-bottom: 60px;
}

#contact {
  padding-bottom: 60px;
}
