.App {
  text-align: center;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slider {
  margin: 60px
}

.slide {
  border-radius: 10px;
  background-image: linear-gradient(to bottom right, white, #aaa);
  padding: 30px;
  height: 360px;
}

.icons {
  display: inline-block;
  margin: 20px;
}

.icon {
  float: left;
}

#home {
  padding-top: 200px;
}

#about {
  padding-top: 180px;
}

#about p {
  margin: 30px
}

#skills {
  padding-top: 120px;
}

#education {
  padding-top: 120px;
}

#contact {
  padding-top: 120px;
  padding-bottom: 120px;
}
