body {
  font-family: Consolas, monaco, monospace;
  font-size: 18px;
  margin: 0;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

p {
  text-align: left;
}